<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <div class="detail-bg">
    <h4><%= post.title %></h4>
    <h4><%= post.content %></h4>
    
    <% if (post.imgUrl) { %>
      <img src="<%= post.imgUrl %>" alt="이미지">
    <% } else { %>
      <p>>이미지 없음<</p>
    <% } %> 

    <hr style="margin-top: 60px;">
    <div>
      <% for (let i = 0; i < comments.length; i++) { %>
        <p>
          <strong><%= comments[i].author %>:</strong> <%= comments[i].content %>
        </p>
        
      <% } %>
    </div>
    <form action="/post/comment" method="post">
      <input type="hidden" name="postId" value="<%= post._id %>">
      <input type="text" name="content">
      <button type="submit">등록</button>
    </form>
  </div>
</body>
</html>